[Unit]
Description=Camera Application
After=network-online.target
 
[Service]
Type=simple
WorkingDirectory=/root
ExecStart=/usr/bin/python3 /root/app.py
Restart=always
 
[Install]
WantedBy=multi-user.target
